<h1>show</h1>

<%= image_tag @showcase_item.main_image %>
<em><%= @showcase_item.title %></em>
<p><%= @showcase_item.subtitle %></p>
<p><%= @showcase_item.body %></p>

<h2>technologies used</h2>
<% @showcase_item.technologies.each do |tech| %>
<p><%= tech.name %></p>
<% end %>
